*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ## Colors

### Primary */
    --light_red: hsl(0, 100%, 67%);
    --orangey_yellow: hsl(39, 100%, 56%);
    --green_teal: hsl(166, 100%, 37%);
    --cobalt_blue: hsl(234, 85%, 45%);


    /* Gradients */

    --light_slate_blue: hsl(252, 100%, 67%);
    --light_royal_blue: hsla(241, 81%, 54%, 0.87);
    --violet_blue: rgba(78, 33, 202, 0.192);
    --persian_blue: rgba(36, 33, 202, 0.39);

    /* ### Neutral */
    --white: hsl(0, 0%, 100%);
    --pale_blue: hsl(221, 100%, 96%);
    --light_lavender: hsl(241, 100%, 89%);
    --dark_gray_blue: hsl(224, 30%, 27%);
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
}

p {
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;

}

/* Result Section */
.section__result {
    background: var(--light_royal_blue);
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 1.5rem;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}

.result--title {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--light_lavender);
}

.result--box {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: linear-gradient(var(--persian_blue) 90%, var(--violet_blue));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1rem auto;
    box-shadow: 2px 2px 2px var(--persian_blue);
}

.box-score {
    font-size: 3rem;
    font-weight: 800;
    color: var(--white);
}

.box-of {
    /* flex: 1; */
    color: var(--light_lavender);
    font-size: .8rem;
    font-weight: 500;

}

.result_description {
    text-align: center;
}

.result_description p:first-of-type {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--white);
    margin-bottom: .3rem;
}

.result_description p:last-of-type {
    color: var(--light_lavender);
    font-weight: 400;
    /* padding: 0 .5rem; */
    text-align: center;
}



/* Summary Section */

.section__summary {

    padding: 1.7rem 1.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.summary--title {
    color: var(--dark_gray_blue);
    margin-bottom: 1rem;
}

.subject_list {
    list-style: none;

}

.subject--item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: .8rem 1rem;
    border-radius: 10px;
}

.subject-info {
    display: flex;
    gap: .5rem;
}


.danger {
    background: rgba(255, 87, 87, 0.1);
    color: var(--light_red)
}

.warning {
    background: rgba(255, 176, 31, .1);
    color: var(--orangey_yellow)
}

.success {
    background: rgba(0, 189, 145, .1);
    color: var(--green_teal)
}

.blue {
    background: rgba(17, 37, 212, .1);
    color: var(--cobalt_blue)
}

.subject_score {
    color: var(--dark_gray_blue);
    font-weight: 700;
}

.subject_score span {
    color: var(--light_lavender);
    font-weight: 700;
}

.btn__continue {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    background: var(--dark_gray_blue);
    color: var(--white);
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    margin-top: 1rem;
}

.btn__continue:hover {
    background-color: var(--light_royal_blue);
    cursor: pointer;
}

.attribution {
    text-align: center;

}

.attribution p {
    font-size: .8rem;

}

@media screen and (min-width: 760px) {
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        flex-direction: row;
        width: 600px;
        min-height: fit-content;
        box-shadow: 0 5px 5px var(--light_lavender);
        border-radius: 2rem;


    }

    .section__result {
        width: 50%;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
        padding: 2rem 2rem;
    }

    .result--box {
        width: 150px;
        height: 150px;
        margin: 1.5rem auto;
    }

    .result_description p:first-of-type {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .section__summary {

        width: 50%;

    }

    .attribution {
        font-size: .8rem;
        margin-top: 2rem;
    }
}